<font color="green"><h1 style="background-color:powderblue;">This is About </h1></font>

<button type="button"><%= link_to 'Home Page', root_path %></button>

<%= link_to image_tag('spacex-falcon-heavy.gif')  %>
<source src="https://www.tesla.com/ns_videos/Model3_WebsiteHero_Master_D.mp4?20170801">
