$navbar-default-bg: #181c1f;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('model3.jpg');
  background-size: cover;
  height: 700px;

}
.center {
  text-align: center;
}
 .jumbotron h1 {
   color: rgb(8,2,69);
   letter-spacing: -1px;
   font-weight: bold;
   margin-bottom: 30px;
   margin-top: -10px;
 }

 .btn-xlarge {
   font-size: 2em;
   background-color: black;
 }

.homelinks {
  font-size: 100%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-right: 15px;
}

.btn-success{
  background-color: rgb(22,122,80)
}

.linkback {
  margin-top: 30px;
  font-weight: bold;
}

.article-actions{
  border-top: 2px solid #eaeaea;
  padding-top: 10px;
}

.well h4{
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid;
  padding-top: 15px;
  padding-bottom: 15px;

}
